.Boss{
    background: rgba(255, 255, 255, 0.005);
         
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

 }
 .SSpace{
    width:60%;
}
.Logo{
    padding-left: 15%;
}
.hello{
    background-image:
 
    url('./images/Mask\ group\ \(2\).svg');
    width: 100%;
    height: 120vh;
    background-size: cover;
    color: white;
    padding: 20px;
   
}

.NAAv{
    font-family: 'Lato';
font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 160%;
cursor: pointer;
}

.listen{

    padding-top: 100px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 54px;
        /* line-height: 87px; */
    
    }
    .we{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 39px; */
    }


.soft{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 66px;

}

.talks{
    font-family: 'Manrope';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 27px;

color: #808080;
}

    .here{
        font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
    }
    .spotify{
        font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 24px;

line-height: 29px;
    }

    .others{
        font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
color: #808080;
    }
    .twitter{
        height: 42px;
        cursor: pointer;

    }
    .prev{
        font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 44px;
padding-top: 10px;
padding-bottom: 10px;
    }
    .subs{
        font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #808080;
cursor: pointer;
    }

    .scribe{
        font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
    }